$toolbar-height: 7vh;
$toolbar-min-height: 50px;

$container-max-height: 98vh - $toolbar-height;

@import "~@angular/material/theming";

$md-primary: (
    50 : #e8f0f8,
    100 : #c5daee,
    200 : #9ec2e3,
    300 : #77aad7,
    400 : #5a97cf,
    500 : #3d85c6,
    600 : #377dc0,
    700 : #2f72b9,
    800 : #2768b1,
    900 : #1a55a4,
    A100 : #dae9ff,
    A200 : #a7caff,
    A400 : #74abff,
    A700 : #5b9cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent: (
    50 : #f8efe8,
    100 : #eed8c5,
    200 : #e3be9e,
    300 : #d7a477,
    400 : #cf915a,
    500 : #c67d3d,
    600 : #c07537,
    700 : #b96a2f,
    800 : #b16027,
    900 : #a44d1a,
    A100 : #ffe7da,
    A200 : #ffc5a7,
    A400 : #ffa374,
    A700 : #ff925b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-warning: (
    50 : #ffe0e0,
    100 : #ffb3b3,
    200 : #ff8080,
    300 : #ff4d4d,
    400 : #ff2626,
    500 : #ff0000,
    600 : #ff0000,
    700 : #ff0000,
    800 : #ff0000,
    900 : #ff0000,
    A100 : #ffffff,
    A200 : #fff2f2,
    A400 : #ffbfbf,
    A700 : #ffa6a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-gray: (
  50: #f9f9f9,
  100: #f0f0f0,
  200: #e6e6e6,
  300: #dcdcdc,
  400: #d5d5d5,
  500: #cdcdcd,
  600: #c8c8c8,
  700: #c1c1c1,
  800: #bababa,
  900: #aeaeae,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fffdfd,
  A700: #ffe4e4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
//ogni livello ha: font-size, line-height e font-weight
$ns-typography: mat-typography-config(
  $font-family: "Ubuntu, sans-serif",
  $display-4: mat-typography-level(112px, 112px, 800),
  $display-3: mat-typography-level(56px, 56px, 800),
  $display-2: mat-typography-level(45px, 48px, 400),
  $display-1: mat-typography-level(34px, 40px, 400),
  $headline: mat-typography-level(24px, 32px, 800),
  /*h1*/ /*parametri: font-size, line-height e font-weight*/ $title:
    mat-typography-level(20px, 32px, 800),
  $subheading-2: mat-typography-level(16px, 28px, 400),
  $subheading-1: mat-typography-level(15px, 24px, 400),
  $body-2: mat-typography-level(16px, 24px, 800),
  /*base text bold*/ $body-1: mat-typography-level(16px, 20px, 400),
  /*base text*/ $caption: mat-typography-level(12px, 16px, 400),
  $button: mat-typography-level(16px, 14px, 800),
  $input: mat-typography-level(16px, 1, 400),
  /*per dimuire altezza righe grid vedere .mat-row, .mat-footer-row in shared-style-list.scss*/
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($ns-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($ns-typography);

@include mat-core($ns-typography);

$ns-accent: mat-palette($md-accent, 500, 300, 800);
$ns-primary: mat-palette($md-primary, 500, 300, 800);
$ns-warn: mat-palette($md-warning, 500, 300, 900);
$ns-theme: mat-light-theme($ns-primary, $ns-accent, $ns-warn);

@include angular-material-theme($ns-theme);

$gray-color: mat-palette($md-gray, 500, 300, 800);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
