<section id="header">
  <div class="header-wrapper" [ngStyle]="{height: height}">
    <div class="button-wrapper">
      <button
      class="raised-btn"
      type="button"
      mat-raised-button
      color="primary"
      id="new-btn" (click)="onClick()">{{newBtnState}}</button>

    </div>

    <div class="title">
    <h1 class="title-text">{{headerLabel}}</h1>
    </div>

    <section id="newPg"  >
      <app-newcharacter [ngStyle]="{display: getDisplay()}"></app-newcharacter>
    </section>

  </div>

</section>


