@import '../../../styles.scss';

.header-wrapper{
  background-color: mat-color($md-accent,500);
  height: 8vw;
  width: 100vw;
}


.button-wrapper{

  background-color: rebeccapurple;
  float: right;
}
.raised-bt{
  padding: 3px;
}

.title{

  background-color: rebeccapurple;
  width: fit-content;
  height: 8vw;

}
.title-text{
  padding-top: 3vw;
  padding-left: 1vw;

}


