<form id="newPgForm">

<table>
  <tr>
    <td>
      <mat-form-field class="inputChField">
        <mat-label>Name</mat-label>
        <input type="text" matInput id="name">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="inputChField">
        <mat-label >Race</mat-label >
        <input type="text" matInput>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="inputChField">
        <mat-label>Class</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="inputChField">
        <mat-label>Base Damage</mat-label>
        <input type="number" matInput>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="inputChField">
        <mat-label>HP</mat-label>
        <input type="number" matInput>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="inputChField">
        <mat-label>BackGround</mat-label>
        <!-- <input type="text" matInput> -->
        <textarea matInput class="textArea"></textarea>
      </mat-form-field>
    </td>
  </tr>
</table>
</form>

