@import '../../../styles.scss';

.character-card {
  display: inline-block;
  max-width: 400px;
  min-width: 250px;
  max-height: 350px;
  min-height: 300px;
  border-radius: 10px;
  background-color: mat-color($ns-primary,200);
  margin: 10px;
  border-style: solid;
  border-color: mat-color($ns-accent,500);
  box-shadow: 10px 10px 25px !important;

}
