@import '../../../styles.scss';

.character-card {
  display: inline-block;
  max-width: 300px;
  min-width: 250px;
  max-height: 200px;
  min-height: 150px;
  border-radius: 10px;
  background-color: white;
  margin: 2vw;
  margin-top: 4vw;
  border-style: solid;
  border-color: mat-color($ns-accent,800);
  box-shadow: 5px 5px 25px !important;
  border-width: 4px;
  animation: mouseLeaves 0.5s;
}
.character-card:hover{
  animation-name: mouseHover;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
@keyframes mouseHover {
  from {right: 0;}
  to {right: 10px;}
  from {bottom: 0;}
  to {bottom: 10px;}
}
@keyframes mouseLeaves {
  from {right: 10px;}
  to {right: 0;}
  from {bottom: 10px;}
  to {bottom: 0;}
}

#card-content{
  margin-top: 1vw;
}
